/* Footer.css */

.footer {
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    position: relative;
    font-family: 'Arial', sans-serif;
    height: 18vh;
  }
  
  .footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .footer-icon {
    color: #10b981;
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .footer-links li {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .footer-links li:hover {
    color: #fff;
  }
  

  .footer-icons{
    color: #fff;
    text-decoration: none;
  }
  .footer-socials li{
    list-style: none;
  }
  .GoTop{
    font-size: 3rem;
    color: #10b981;
    cursor: pointer ;
    width: 5rem;
    float: right ;
  }
